/* Стили заголовков */
h1 {
  font-family: Arial, sans-serif;
  font-size: 160%;
  color: #ffffff;
}

h2 {
  font-family: Verdana, sans-serif;
  font-size: 130%;
  color: #006DA5;
  text-shadow: 0.5px 0.5px 0.5px #000;
}

h3 {
  font-family: Times New Roman, serif;
  font-size: 110%;
  color: #333;
}

h4 {
  font-family: Arial, sans-serif;
  font-size: 90%;
  color: #666;
}

h5 {
  font-family: Georgia, serif;
  font-size: 80%;
  color: #0000ff;
}

h6 {
  font-family: Arial, sans-serif;
  font-size: 70%;
  color: #333;
}

/* Общие стили */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	font-size: 16px;
}

/* Стили шапки */

header {
	background-image: url('header-bg.jpg');
	background-size: cover;
	background-position: center;
	padding: 30px;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	box-shadow: inset 0 -5px 5px -2px rgba(0, 0, 0, 0.3); /* добавляем тень */
}


.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.icons-container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: 10px;
}

.icons-container a {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-left: 10px;
}

.icons-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.3s ease-in-out;
}

.icons-container img:hover {
	transform: scale(1.2);
}

/* Стили основного контента */

main {
  max-width: 100%;
  margin: 0 auto;
}

.imagecall {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translate(0, -50%) scale(1);
  animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {
  0% { transform: translate(0, -50%) scale(1); }
  50% { transform: translate(0, -50%) scale(1.2); }
  100% { transform: translate(0, -50%) scale(1); }
}

.popup {
  position: relative;
  display: inline-block;
}

.popup-form {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-color: #fff;
  width: 500px;
  height: 500px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}

.popup-form.active {
  visibility: visible;
  opacity: 1;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #333;
  text-decoration: none;
}

/* Show popup form on click */
.popup a:focus + .popup-form {
  visibility: visible;
  opacity: 1;
}

/* Hide popup form when close button is clicked */
.popup-form .close-btn:hover {
  color: #000;
}

/* Style form elements */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

label {
  margin-bottom: 10px;
}

input[type="tel"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  margin-bottom: 20px;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.row1 {
  display: flex;
  padding-top: 30px;
  padding-bottom:50px;
  align-items: center;
  opacity: 0;
  animation: fade-in 1s ease-in-out forwards;
  max-width: 1900px;
  font-size: 14pt;
  font-family: "Uindbase Font 1";
  	box-shadow: inset 0 -5px 5px -2px rgba(0, 0, 0, 0.1); /* добавляем тень */
}

.logo {
  width: 130px;
  height: 130px;
  border-radius:3px;
  box-shadow: 0 0 0 3px white, 0  0 13px #ffffff;
}
@media (max-width: 767px) {
  .logo {
    width: 80px;
	height: 80px;
  }
}


.p {
	font-size: 0.9em;
	font-weight:400;
}

.column1: first-child {
  flex-basis: 30%;
  margin-right: 1px;
}

.colum1: last-child {
	flex-basis: 70%;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

section {
  margin-bottom: 30px;
}

.columns-container {
  display: flex;
  max-width:100%;
  justify-content: space-between;
  background-color: #006DA5;
  color: #ffffff;
}

.left-column {
  animation: slide-left 2s ease-in-out;
  justify-content: flex-start;
}

.right-column {
  animation: slide-right 2s ease-in-out;
  justify-content: flex-end;
}

.row {
  display: flex;
  margin: 20px;
}

img {
  width: 51px;
  height: 51px;
  margin-right: 20px;

}

.row2 {
	display: flex;
	margin: 10px;
}

.row3 {
	display:flex;
	margin: 40px;
    justify-content:center;
}

.row4 {
	display:flex;
	margin: 40px;
    justify-content:center;
}
.row4 img {
	max-width: 100%; /* Установить ширину изображения на 100% */
	object-fit: cover;
	transition: transform 0.3s ease-in-out;
}
.row4 img:hover {
  cursor: pointer;
  transform: scale(1.2);
}
/* Медиа-запрос для устройств с максимальной шириной 600px */
@media (max-width: 600px) {
  .row4 img {
    max-width: 80%; /* Уменьшить ширину изображения до 80% */
  }
}

/* Медиа-запрос для устройств с максимальной шириной 400px */
@media (max-width: 400px) {
  .row4 img {
    max-width: 60%; /* Уменьшить ширину изображения до 60% */
  }
}

.imgdown {
  width: 51px; /* Измените ширину на свое усмотрение */
  height: 51px; /* Измените высоту на свое усмотрение */
  animation: pulse 2s infinite; /* Запуск анимации с именем 'pulse', продолжительность 2 секунды и бесконечным количеством повторений */
}

/* Определите анимацию 'pulse' */
@keyframes pulse {
  0% {
    transform: scale(1); /* Начальный размер изображения */
  }
  50% {
    transform: scale(1.2); /* Увеличение размера изображения */
  }
  100% {
    transform: scale(1); /* Возврат к начальному размеру изображения */
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
  @font-face {
  font-family: "myfont1";
  src: url("fonts/OldTyper.ttf");
}
}
